.todo-bar {
    display: inline-flex;
    border: 1px solid rgba(0, 0, 0, 0.644);
    float: left;
    margin: 2px;
}
.todo-bar p {
    margin: 11px;
}
.check {
    float: left;
    align-items: center;
}

#main-btn{
    margin: 3px;
    background-color: rgba(146, 3, 146, 0.8);
}

#input{
    margin: 5px;
}

#list {
    margin: 5px;
}